.block.carousel {
  // Extra margin bottom because of the floated elements
  margin-bottom: 6em;

  h3 {
    margin-top: 0;
  }

  .slick-slide {
    padding: 0 10px;
  }

  .slick-arrow {
    bottom: -70px;
    top: initial;
    transform: initial;

    display: flex !important;
    align-items: center;
    padding: 0;
    justify-content: center;
    background-color: #004176;
  }

  .slick-prev img {
    margin-right: 5px;
  }
  .slick-next img {
    margin-left: 5px;
  }
  .grid-teaser-item {
  }

  .slick-dots {
    bottom: -52px;
    text-align: center;

    li {
      margin: 0 5px !important;
    }
  }

  .slick-dots li button:before {
    color: #000;
    font-size: 24px;
  }
}
